
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    position: relative;
    /* font-family: "huninn"; */
    
}

*{
    box-sizing: border-box;
}
/* @font-face {
 font-family: 'huninn';
    src: url('css./font/huninn.woff') format("woff"),
         url('css./font/huninn.ttf') format("truetype"),
  }  */
h2{
    margin: 10px 0 ;
    text-align: left;
    line-height: 35px;
}

.fontBigger{
    font-size: 60px;
    font-style: italic;
}
header{
    width: 200px;
    height: 969px; 
    background-color: #EF9D92;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    position: fixed;
    
}
nav{
    width: 110px;
    height: 41px;
    background-color: goldenrod;
}
#logo{
    width: 200px;
    height: 200px;
    /* background-color: green ; */
}
p{
    font-size:14px ;
    margin: 10px 0;
    text-align: center
}
main{
    width: 100%;
    
    /* background-color: hotpink; */
    padding: 0 0 0 200px;
    
}
.container{
    width: 1500px;
    height: 969px;
    /* background-color: lawngreen; */
    margin: auto;
    /* line-height: ; */
}
#banner{
    width: 100%;
    height: 100%;

}
#banner .cardboxUp{
    height: 50%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row-reverse;
    color: #AEDDA6;
    font-family: 'huninn';  
    
}
#banner .cardboxUp .cardboxUpRight{
    width: 70%;
    margin: auto;
    /* background-color: crimson; */
}
#banner .cardboxUp .cardboxUpLeft{
    width: 30%;
    /* background-color: bisque; */
    position: relative;

}
#banner .cardboxUp .cardboxUpLeft #first{
    position: absolute;
    /* top: 110px; */
    top: 15%;
}
#banner .cardboxUp .cardboxUpLeft #second{
    position: absolute;
    /* top: 212px; */
    bottom: 20%;
    right: 5%;
}

#banner .cardboxDown{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    color:#EF9D92
}
    /* background-color: crimson; */

#banner .cardboxDown .cardboxDownRight{
    width: 40%;
    /* background-color:bisque; */
    position: relative;
}
#banner .cardboxDown .cardboxDownRight #first{
    position: absolute;
    top: 10%;
    left: 20%;
}
#banner .cardboxDown .cardboxDownRight #second{
    position: absolute;
    top: 30%;
    right: 20%;
}
#banner .cardboxDown .cardboxDownRight #third{
    position: absolute;
    bottom: 15%;
    right: 10%;
}
#banner .cardboxDown .cardboxDownLeft{
    width: 60%;
    height: 100%;
    margin: auto;
    /* background-color: crimson; */
    
}
.swiper-container {
    width: 70%;
    height: 70%;
  }
.swiper-button-prev{
    width: 100px;
    top: 80%;
}

#news{
    width: 100%;
    height: 1000PX;
    display: flex;
    flex-wrap: wrap;
    align-content:  space-between  ;
    position: relative;
}
#news .newscardGroup{
    width: 70%;
    height: 50%;
    /* background-color: crimson; */
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
}
#news .newscardGroup .newscard{
    width: 40%;
    /* background-color: darkkhaki; */
    margin: 0 40px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

 
}
#news .newscardGroup .newscard .newscardUp{
    height: 50%;
}
#news .newscardGroup .newscard #prior{
    position: absolute;
    z-index: 2;

    
    
}

#news .newscardGroup .newscard #tag{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;

}
#news .newscardGroup .newscard .shadow{
   width: 320px;
   height: 200px;
   background-color: grey;
   position: absolute;
   bottom: 45%;
   left: -10%;
   opacity: 0.7;
   z-index: 1;

}




