* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* font-family: "huninn"; */
}

/* @font-face {
 font-family: 'huninn';
    src: url('css./font/huninn.woff') format("woff"),
         url('css./font/huninn.ttf') format("truetype"),
  }  */
h2 {
  margin: 10px 0;
  text-align: left;
  line-height: 35px;
  width: 80%;
}

h3 {
  line-height: 35px;
}

.fontBigger {
  font-size: 60px;
  font-style: italic;
}

.readmoreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header {
  width: 200px;
  height: 969px;
  background-color: #EF9D92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

header nav {
  width: 110px;
  height: 41px;
  background-color: goldenrod;
}

header #logo {
  width: 200px;
  height: 200px;
  /* background-color: green ; */
}

header #copyright p {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}

main {
  width: 100%;
  padding: 0 0 0 200px;
}

main #banner {
  width: 100%;
}

main #banner .container {
  width: 90%;
  height: 969px;
  margin: auto;
}

main #banner .cardboxUp {
  height: 50%;
  width: 100%;
  /* background-color: bisque; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #AEDDA6;
  font-family: 'huninn';
}

main #banner .cardboxUp .cardboxUpRight {
  width: 70%;
  margin: auto;
  /* background-color: crimson; */
}

main #banner .cardboxUp .cardboxUpLeft {
  width: 30%;
  /* background-color: bisque; */
  position: relative;
}

main #banner .cardboxUp .cardboxUpLeft h1 {
  font-size: 32px;
}

main #banner .cardboxUp .cardboxUpLeft #first {
  position: absolute;
  /* top: 110px; */
  top: 15%;
}

main #banner .cardboxUp .cardboxUpLeft #second {
  position: absolute;
  /* top: 212px; */
  bottom: 20%;
  right: 5%;
}

main #banner .cardboxDown {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #EF9D92;
}

main #banner .cardboxDown .cardboxDownRight {
  width: 40%;
  /* background-color:bisque; */
  position: relative;
}

main #banner .cardboxDown .cardboxDownRight h1 {
  font-size: 32px;
}

main #banner .cardboxDown .cardboxDownRight #first {
  position: absolute;
  top: 10%;
  left: 20%;
}

main #banner .cardboxDown .cardboxDownRight #second {
  position: absolute;
  top: 30%;
  right: 20%;
}

main #banner .cardboxDown .cardboxDownRight #third {
  position: absolute;
  bottom: 15%;
  right: 10%;
}

main #banner .cardboxDown .cardboxDownLeft {
  width: 60%;
  height: 100%;
  margin: auto;
}

main #newsSwiper {
  position: relative;
}

main #newsSwiper .yellowBg {
  margin: 0 0 -483px 0;
}

main #newsSwiper .yellowBg #speaker {
  position: relative;
}

main #newsSwiper .yellowBg #newsLogo {
  position: relative;
  top: -300px;
  right: -3%;
}

main #newsSwiper .swiper-container {
  width: 70%;
  padding: 0  0px;
  position: relative;
}

main #newsSwiper .swiper-container .swiper-slide #tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #newsSwiper .swiper-pagination {
  left: 50%;
  top: 65%;
}

main #newsSwiper .swiper-button-next {
  right: 170px;
  top: 40%;
}

main #newsSwiper .swiper-button-prev {
  left: 170px;
  top: 40%;
}

main #newsSwiper .greenBg {
  z-index: 1;
}

main #newsSwiper .greenBg #doll-1 {
  position: absolute;
}

main #teamOffice {
  margin: -200px 0 0 0;
  position: relative;
  z-index: 10;
}

main #teamOffice #groupPhoto {
  margin: 20px 0 0 200px;
}

main #teamOffice #teamLogo {
  position: relative;
  top: -270px;
}

main #teamOffice #president {
  margin: 0px 0 0 50px;
  position: relative;
  top: -35px;
}

main #teamOffice #presidentText {
  position: absolute;
  right: 3%;
}

main #teamOffice #presidentText #first {
  font-size: 60px;
  position: relative;
  right: 150px;
  top: 20px;
}

main #teamOffice #presidentText #second {
  font-size: 48px;
  position: relative;
  top: 25px;
  right: -80px;
}

main #teamOffice #presidentText #third {
  position: relative;
  font-size: 36px;
  top: 50px;
  right: 100px;
  color: #82A6E8;
}

main #teamOffice #speaker {
  position: relative;
  left: 37%;
  top: 70px;
}

main #teamOffice #teamcardDown {
  margin: -300px 0 0 0;
}

main #teamOffice #teamcardDown #studentAffairs {
  position: absolute;
  top: 800px;
  left: 10px;
}

main #teamOffice #teamcardDown #studentAffairsLogo {
  position: absolute;
  top: 980px;
  left: 670px;
}

main #teamOffice #teamcardDown #generalAffairs {
  position: absolute;
  top: 1000px;
  left: 47%;
}

main #teamOffice #teamcardDown #generalAffairsLogo {
  position: absolute;
  top: 1200px;
  right: 320px;
}

main #teamOffice #teamcardDown #academicAffairs {
  position: absolute;
  bottom: 425px;
  left: 9%;
}

main #teamOffice #teamcardDown #academicAffairsLogo {
  position: absolute;
  bottom: 250px;
  left: 300px;
}

main #teamTeachers {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #teamTeachers .teamCards {
  width: 33%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: c;
      -ms-flex-pack: c;
          justify-content: c;
}

main #teamTeachers .teamCards .teamTeachersLogo {
  margin: auto;
  width: 50%;
}

main #teamTeachers .teamCards .swiper-container_2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

main #teamTeachers .teamCards .swiper-container_2 .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main #teamTeachers .teamCards .swiper-container_2 .swiper-slide .teacherChange {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

main #teamTeachers .teamCards .swiper-pagination_2 {
  left: 10px;
}

main #teamTeachers .middle {
  margin: 0 10px;
}

.box {
  width: 300px;
  height: 100px;
  background-color: green;
}

.boxa {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin: auto;
}
/*# sourceMappingURL=quanpu.css.map */